
<link rel="stylesheet" href="~/css/Cart.css" />
<section class="breadcumb_top_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="bread_top_box">
                    <h2>Carrito de compras</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main_cart_area">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div class="main_cart_left">
                    <div class="cart_heading">
                        <div class="h_item1">
                            <p>producto</p>
                        </div>
                        <div class="h_item2">
                            <p>Precio</p>
                        </div>
                        <div class="h_item3">
                            <p>Cantidad</p>
                        </div>
                        <div class="h_item4">
                            <p>total</p>
                        </div>
                    </div>
                    <div class="cart_item">
                        <div class="cart_item_img">
                            <img src="" alt="" />
                            <p>Producto 1 <br></p>
                        </div>
                        <div class="cart_price">
                            <p>₡2000</p>
                        </div>
                        <div class="cart_quantity">
                            <ul>
                                <li><a href=""><i class="fa fa-minus"></i></a></li>
                                <li><a href="">2</a></li>
                                <li><a href=""><i class="fa fa-plus"></i></a></li>
                            </ul>
                        </div>
                        <div class="cart_total">
                            <p>₡4000</p>
                            <span><i class="fa fa-close"></i></span>
                        </div>
                    </div>

                    <div class="cart_item">
                        <div class="cart_item_img">
                            <img src="" alt="" />
                            <p>Producto 2 <br></p>
                        </div>
                        <div class="cart_price">
                            <p>₡1500</p>
                        </div>
                        <div class="cart_quantity">
                            <ul>
                                <li><a href=""><i class="fa fa-minus"></i></a></li>
                                <li><a href="">3</a></li>
                                <li><a href=""><i class="fa fa-plus"></i></a></li>
                            </ul>
                        </div>
                        <div class="cart_total">
                            <p>₡4500</p>
                            <span><i class="fa fa-close"></i></span>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <button > Realizar pedido</button>
</section>
